* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin style($color) {
    @include flex( column, space-around, flex-start );

    background-color: $color;
    color: $color;
}

body {
    min-width: 400px;
}

main {
    @include flex( row, center, center );
    min-height: 100vh;
}

section {
    @include flex ( row, center, center );

    flex-wrap: wrap;
    margin: 50px auto;
    width: 70%;
}

.card {
    @include style( teal );
    padding: 40px;
    height: 600px;
    width: 45%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px gray;

    div {
        background-color: rgba(0, 0, 0, 0.4);
        height: 35px;
        width: 35px;
        border-radius: 180px;

        i {
            color: rgba(255, 255, 255, 0.507);
            position: relative;
            right: -15px;
            top: 8px;
        }
    }

    h2 {
        font-size: 2.5em;
    }

    h2, p, a {
        color: white;
        font-weight: bold;
        text-shadow: -1px -1px 1px black;
    }

    a {
        background-color: white;
        padding: 13px 25px;
        border-radius: 20px;
        color: inherit;
        text-decoration: none;
        font-size: 1.2em;
    }

    a:hover {
        transform: scale(1.05);
        box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.8),
        -3px -3px 10px rgba(255, 255, 255, 0.8);
    }
}
.card:first-of-type {
    @include style( orange );
    /* border-radius: 10px 0 0 10px; */
}
.card:nth-of-type(3) {
    @include style( pink )
}
.card:nth-of-type(4) {
    @include style( yellow )
}
.card:nth-of-type(5) {
    @include style( lightsalmon )
}
.card:last-of-type {
    @include style( rgb(1, 66, 66) );
   /*  border-radius: 0 10px 10px 0; */
}
.card:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
    box-shadow: -30px -30px 30px rgba(128, 128, 128, 0.466);
}

@media (max-width: 1100px) {
    section {
        @include flex( column, center, center );
        margin: 50px;
        border-radius: 15px;
        box-shadow: -10px -10px 20px gray;
        width: 60%;
    }

    .card {
        height: 400px;
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .card:first-of-type {
        border-radius: 10px 10px 0 0;
    }


    .card:last-of-type {
        border-radius: 0 0 10px 10px;
    }
    .card:hover {
        transform: scale(1.05);
        transition-duration: 0.2s;
        box-shadow: -15px -15px 15px rgba(128, 128, 128, 0.466);
    }
}

@media (max-width: 600px) {
    section {
        width: 100%;
        font-size: 0.9em;
    }
}


